body {
  margin:0;
  padding: 0;
  font-size: 12px;
  height: 100%;
}


h1 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.row{
  height:100vh;
}

.leftcolumn{
  padding: 0;
}

/* Header */
header{
  margin-top: 2%;
  width:16.7%;
  position:fixed;
  padding-left: 3%;
}

#logo{
  width:20%;
  text-align: center;
}

#name{
  margin-top:20%;
  font-size: 2vw;
  /* padding-left: 30%; */
  width:100%;
}
#title{
  font-size:1vw;
}
/* navigation */
.sidenav{
  list-style: none;
  position:fixed;
  font-family: 'Open Sans', sans-serif;

}

nav ul{
  margin-top: 20%;
  padding-left: 3%;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 1.5vw;
  line-height: 200%;
}

nav ul li a:hover{
  text-decoration: none;
}



/* footer */
footer{
  position:fixed;
  bottom: 100px;
  margin: 0 auto;
  padding-left: 3%;
}

.social{
  margin-right:10px;
}

.copyright{
  margin-top:10px;
}

/* icon */
.img{
  height:50%;
  width:50%;
}

/* icon background */
.bg1{
  /* background-color: #8db4a3; */
  text-align: center;
  background-image: url('pics/taskly.jpg');
  padding:0;
}

.bgc1{
  background-color: rgba(255, 0, 0, 0.45);
  width:100%;
  height:100%;

}

.bg2{
  /* background-color: #5f9c74; */
  text-align: center;
  background-image: url('pics/homemade.jpg');

}

.bg3{
  /* background-color: #c2d2bd; */
  text-align: center;
  background-image: url('pics/ingage.jpg');
}

.bg4{
  background-color: #f9c871;
  text-align: center;
}

.bg5{
  background-color: #ecb251;
  text-align: center;
}

.bg6{
  background-color: #f6d79b;
  text-align: center;
}

.bg7{
  background-color: #a3cce2;
  text-align: center;
}

.bg8{
  background-color: #88bfe0;
  text-align: center;
}

.bg9{
  background-color: #bedced;
  text-align: center;
}

/* .icon7{
  background-color: #f6a599;
  text-align: center;
}

.icon8{
  background-color: #ec7d6e;
  text-align: center;
}

.icon9{
  background-color: #f9bdb3;
  text-align: center;
} */


/* @media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
} */
