body {
  margin:0;
  padding: 0;
  font-size: 12px;
  height: 100%;
}


h1 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.row{
  height:100vh;
}

.leftcolumn{
  padding: 0;
}

/* Header */
header{
  margin-top: 2%;
  width:16.7%;
  position:fixed;
  padding-left: 3%;
}

#logo{
  padding: 0;
  width:15%;
}

#name{
  font-family: 'Open Sans', sans-serif;
  margin-top:20%;
  margin-bottom: 3%;
  font-size: 2vw;
  width:100%;
}
#title{
  font-family: 'Open Sans', sans-serif;
  font-size:1vw;
}

/* header link */
.hdlink{
  text-decoration: none;
  color:#000;
}

.hdlink:hover{
  text-decoration: none;
  color:#000;
}

/* navigation */
.sidenav{
  list-style: none;
  position:fixed;
  font-family: 'Open Sans', sans-serif;
}

nav ul{
  margin-top: 25%;
  padding-left: 3%;
}

nav ul li a{
  color:#5e5e5e;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3vw;
  line-height: 200%;
}

nav ul li a:hover{
  text-decoration: none;
  color:#1084C9;
}

.current{
  color:#1084C9;
}


/* footer */
footer{
  position:fixed;
  bottom: 40px;
  margin: 0 auto;
  padding-left: 3%;
}

.social{
  margin-right:10px;
  color:#5e5e5e;
}

.copyright{
  font-family: 'Open Sans', sans-serif;
  margin-top:10px;
  color:#5e5e5e;`
}

/* icon */
.img{
  height:50%;
  width:50%;
}

/* arrow */

.arrow {
  color:white;
  text-align: center;
  margin-top:50%;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* icon background */
.bg1{
  /* background-color: #8db4a3; */
  text-align: center;
  background-image: url('pics/taskly.jpg');
  padding:0;
}

.bgc1{
  /* background-color: rgba(69, 148, 206, 0.9); */
  background: rgb(3,140,204);
  background: linear-gradient(180deg, rgba(3,140,204,0.8) 0%, rgba(19,107,182,1) 100%);
  height:100%;
}

.bg2{
  /* background-color: #5f9c74; */
  text-align: center;
  background-image: url('pics/ingage.jpg');
  padding:0;
}

.bgc2{
  /* background-color: rgba(194, 173, 67, 0.9); */
  background: rgb(245,206,61);
  background: linear-gradient(180deg, rgba(245,206,61,0.8) 0%, rgba(221,150,50,1) 100%);
  height:100%;
}

.bg3{
  /* background-color: #c2d2bd; */
  text-align: center;
  background-image: url('pics/homemade.jpg');
  padding:0;
}

.bgc3{
  /* background-color: rgba(193,89,89, 0.9); */
  background: rgb(207,61,64);
  background: linear-gradient(0deg, rgba(207,61,64,1) 0%, rgba(232,101,72,0.85) 100%);
  width:100%;
  height:100%;
}

.bg4{
  /* background-color: #8db4a3; */
  text-align: center;
  background-image: url('pics/bus.jpg');
  padding:0;
}

.bgc4{
  /* background-color: rgba(194, 173, 67, 0.9); */
  /* background: rgb(245,206,61);
  background: linear-gradient(180deg, rgba(230,178,47,0.8) 0%, rgba(230,178,47,1) 100%); */
  background: rgb(245,206,61);
  background: linear-gradient(180deg, rgba(245,206,61,0.8) 0%, rgba(221,150,50,1) 100%);
  width:100%;
  height:100%;
}

.bg5{
  /* background-color: #5f9c74; */
  text-align: center;
  background-image: url('pics/contextual.jpg');
  padding:0;
}

.bgc5{
  /* background-color: rgba(193,89,89, 0.9); */
  /* background: rgb(207,61,64);
  background: linear-gradient(0deg, rgba(207,61,64,1) 0%, rgba(207,61,64,0.85) 100%); */
  background: rgb(207,61,64);
  background: linear-gradient(0deg, rgba(207,61,64,1) 0%, rgba(232,101,72,0.85) 100%);
  width:100%;
  height:100%;
}

.bg6{
  /* background-color: #c2d2bd; */
  text-align: center;
  background-image: url('pics/graphic.jpg');
  padding:0;
}

.bgc6{
  /* background-color: rgba(69, 148, 206, 0.9); */
  /* background: rgb(3,140,204);
  background: linear-gradient(180deg, rgba(19,107,182,0.8) 0%, rgba(19,107,182,1) 100%); */
  background: rgb(3,140,204);
  background: linear-gradient(180deg, rgba(3,140,204,0.8) 0%, rgba(19,107,182,1) 100%);
  width:100%;
  height:100%;
}


.project_name{
  margin-left: 2%;
  margin-right: 2%;
  padding-top:80%;
  font-weight: 300;
  font-size:4em;
}

.project_name a{
  text-decoration: none;
  color:white;
}

.project_type{
  /* padding-top:10%; */
  color:white;
  font-size:1.5em;
}

.project_brief{
  display:none;
  padding-top:10%;
  padding-left: 10%;
  padding-right:10%;
  color:white;
  font-size:1.5em;
}

/* projectpage */
.ingage{
  margin: auto;
  max-width:80%;
  height:80%;
  align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-bottom: 2%;
}

.taskly{
  margin: auto;
  max-width:80%;
  height:70%;
  align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-bottom: 2%;
}

/* aboutpage */
.abouttext{
  margin-top: 20%;
  font-family: 'Open Sans', sans-serif;
}

.abouttitle{
  color:#E8B659;
  margin-top: 10%;
  font-size: 250%;
}

.aboutbrief{
  color:#5a5a5a;
  font-size: 150%;
}

/* lifepage */
.lifephoto .row{
  height:auto;
}
.photo{
  margin-top: 8%;
  max-width: 90%;
  height:auto;
}
/* @media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
} */
