body {
  margin:0;
  padding: 0;
  font-size: 12px;
  height: 100%;
}


h1 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.row{
  height:100vh;
}

/* .leftcolumn{
  background-color: #19181a; */

/* Header */
header{
  padding-left: 40px;
  margin-top: 5%;
  position:fixed;
}
#name{
  font-size: 2vw;
}
#title{
  font-size:1vw;
}
/* navigation */
.sidenav{
  list-style: none;
  position:fixed;
  font-family: 'Open Sans', sans-serif;
}

nav ul{
  margin-top: 20%;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 1.5vw;
  line-height: 200%;
}

nav ul li a:hover{
  text-decoration: none;
}

/* icon */
.img{
  height:50%;
  width:50%;
}

/* icon background */
.icon1{
  background-color: #8db4a3;
  text-align: center;
}

.icon2{
  background-color: #5f9c74;
  text-align: center;
}

.icon3{
  background-color: #c2d2bd;
  text-align: center;
}

.icon4{
  background-color: #f9c871;
  text-align: center;
}

.icon5{
  background-color: #ecb251;
  text-align: center;
}

.icon6{
  background-color: #f6d79b;
  text-align: center;
}

.icon7{
  background-color: #a3cce2;
  text-align: center;
}

.icon8{
  background-color: #88bfe0;
  text-align: center;
}

.icon9{
  background-color: #bedced;
  text-align: center;
}

/* .icon7{
  background-color: #f6a599;
  text-align: center;
}

.icon8{
  background-color: #ec7d6e;
  text-align: center;
}

.icon9{
  background-color: #f9bdb3;
  text-align: center;
} */


/* @media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
} */
