html{
  max-height:100%;
  background-color: gray;
}
body{
  background-color:green;
  margin-top: 0%;
  margin-left:10%;
  margin-right: 10%;
  margin-bottom:10%;
  height:80vh;
}

div{
  height:80vh;
}

header{
	background-color: yellow;
	height:10%;
  font-size:180%;
  text-align:right;
}

h1{
  margin:0;
}


nav ul{
  padding:0;
  margin:0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  background-color: black;
  text-align: center;
  font-size: 140%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

nav ul li a{
  text-decoration: none;
  color:white;
}

aside{
  float:right;
  background-color: white;
  height: 82%;
  width:20%;
  background: #fff url("http://www.literarygenius.info/images/william-shakespeare.jpg") no-repeat;
  background-size: 80%;
  background-position:50% 70%;

}

aside h2{
  margin:0;
  font-size: 250%;
}

aside ul li{
  font-size: 150%;
}

#content{
  background-color: #545549;
  display: inline-block;
  width:80%;
  height:75%;
}

#content h1{
  font-size: 300%;
}

#content p{
  font-size: 130%;
  margin:0 10% 0 0;
}

#content ul{
  /* padding:0; */
}

#content ul li{
  list-style: none;
  text-align: center;
  font-size: 130%;
}

footer{
  margin:0 0 0 2%;
  font-size: 110%;

}
